.list * {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0px 0px 3px #222222;
}

/* Columns */

.column {
    width: 500px;
    margin-left: 25px;
    background-color: #555555;

    vertical-align: top;
}

.column * {
    margin: 10px auto;

}

.column input {
    display: block;
    width: 90%;
}

#secondary-list {
    display: inline-block;
}

#main-list {
    display: inline-block;
}

/* item */

.item {
    background-color: #363636;
    border-radius: 5px;

    width: 450px;

    padding: 10px;
    margin-bottom: 10px;
}

.item p {
    margin: 2px 0px;
}

.item-header {
    padding: 0;
    margin: 0;

    position: relative;
}

.item-header * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 0.75px black;
    text-shadow: 0px 0px 3px #222222;

    display: inline-block;

    margin: 0;
}

.item-name{
    margin-right: 50px;
}

.item-name, .tier  {
    padding: 10px;
    padding-right: 0px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.desc p {
    -webkit-text-stroke: 0.2px black;
}

.fp {
    font-weight: 700;
    -webkit-text-stroke: 0.5px black;
}

.tier {
    right: 0%;
}

.item-sprite {
    width: 48px;
    height: 48px;

    margin-left: 0;

    background-size: 1600%;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                         */
}



/* JSON */

.json {
    background-color: white;
    padding: 5px;
    margin: auto;

    font-family: monospace;
    color: black;
    -webkit-text-stroke: 0;
    font-size: 12px;
    text-shadow: none;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
